flow.json
[{"id":"3bb89d70.127c72","type":"http in","z":"93e17572.5e71b","name":"","url":"/moods","method":"post","swaggerDoc":"","x":130,"y":200,"wires":[["7c7175a5.cd3654"]]},{"id":"7c7175a5.cd3654","type":"function","z":"93e17572.5e71b","name":"POST","func":"msg.payload;\nvar date = new Date();\nmsg.payload.date = date;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["218915eb.bd4ef2","f1cfee1e.7a6068"]]},{"id":"62b6e0b0.48c0d8","type":"cloudant out","z":"93e17572.5e71b","name":"usersfeedback","cloudant":"","database":"comments","service":"thinkdeskmoods-cloudantNoSQLDB","payonly":true,"operation":"insert","x":720,"y":120,"wires":[]},{"id":"218915eb.bd4ef2","type":"http response","z":"93e17572.5e71b","name":"OK","x":470,"y":280,"wires":[]},{"id":"f1cfee1e.7a6068","type":"json","z":"93e17572.5e71b","name":"usersfeedback","x":500,"y":120,"wires":[["62b6e0b0.48c0d8"]]},{"id":"3f888d86.537172","type":"comment","z":"93e17572.5e71b","name":"Agile Mood Marble - README","info":"This Flow supports the Agile practice of Mood Marble.\n\nThis flow is responsible to interface mobile clients (iOS)\n\nStep 1 - receives JSON payload from mobile client\n\nStep 2 - saves data on Cloudant DB\n    \nStep 3 - makes data available for further retrieving or analysis\n\n\n\n\n","x":160,"y":80,"wires":[]}]
